In [1]:
# simple datas structures
x = 23
y = 21
z = 100
ages = [x,y,z]
print(ages)

[23, 21, 100]

In [4]:
# slicing 
ages[1:]
# indexing
ages[0]

23

In [6]:
# dictionaries
x = {
    "name":'éric',
    'age':23,
    'height':173
}
print(x)

{'name': 'éric', 'age': 23, 'height': 173}

In [7]:
# arrays (Numpy)
weight = [21,86,322,89]
import numpy as np
weight_array = np.array(weight)
weight_array

array([ 21,  86, 322,  89])

In [11]:
# you can run some sumamries on numpy arrays
print(weight_array.sum())
print(weight_array.mean())
#print(weight_array.mode())
print(weight_array.min())
print(weight_array.max())

518
129.5
21
322

In [14]:
# pandas are just tables in python
import pandas as pd
data = pd.DataFrame()
data['names'] = ['John','alex','jimmy','martin','newton']
data['ages'] = [33,23,32,25,28]
data['weight'] = [88,75,65,53,110]
data.head()# shows top 5
data.tail()# shows bottom 5

    names  ages  weight
0    John    33      88
1    alex    23      75
2   jimmy    32      65
3  martin    25      53
4  newton    28     110

In [15]:
data.info()# -  gives the info on the colums
data.describe()# gives summary stats on all numeric columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   names   5 non-null      object
 1   ages    5 non-null      int64
 2   weight  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

           ages      weight
count   5.00000    5.000000
mean   28.20000   78.200000
std     4.32435   21.947665
min    23.00000   53.000000
25%    25.00000   65.000000
50%    28.00000   75.000000
75%    32.00000   88.000000
max    33.00000  110.000000

In [16]:
# exctract one column
data['weight']

0     88
1     75
2     65
3     53
4    110
Name: weight, dtype: int64

In [17]:
# extract two or more columns
data[['names','weight']]

    names  weight
0    John      88
1    alex      75
2   jimmy      65
3  martin      53
4  newton     110

In [21]:
# do mathematical analysis on columns line divide one with the otehr
data['ages']/data['weight']

0    0.375000
1    0.306667
2    0.492308
3    0.471698
4    0.254545
dtype: float64

In [25]:
# for loop on pandas columns
name = data['names']
print(name)
# we want to capitalize all the words
# empoty list
empty = []
caps = []

for nam in name:
    nam_cap = nam.upper()
    empty.append(nam_cap)
    caps.append(nam.capitalize())
print(empty)
print(caps)

0      John
1      alex
2     jimmy
3    martin
4    newton
Name: names, dtype: object
['JOHN', 'ALEX', 'JIMMY', 'MARTIN', 'NEWTON']
['John', 'Alex', 'Jimmy', 'Martin', 'Newton']

In [28]:
foods = ['mukimo','burger','çhips','uji']
for food in foods:
    if len(food)>5:
        print(food)
    else:
        print('thende')

mukimo
burger
thende
thende

In [31]:
# functions 

girls = {
    'patience':150,
    'jessy':164,
    'eva':190,
    "alice":100
}

def height_function(haga):
    if haga<130:
        return 'dwarf'
    elif haga<150:
        return 'mid_sized'
    else:
        return 'giant'
    
height_function(girls["alice"])

'dwarf'

In [34]:
def IQ():
    iq = input("please give me your iq points:")
    iq = int(iq)
    if iq<100:
        return 'clinical moron'
    elif iq<110:
        return 'ordinary intelligence'
    elif iq<130:
        return 'bright'
    elif iq<151:
        return 'extremely bright'
    elif iq<180:
        return 'genius'
    else:
        'polymath'

In [ ]:
IQ()